[Desktop Entry]
Type=Service
MimeType=all/allfiles;
Actions=openAsArchiveRoller;
X-KDE-Priority=TopLevel

[Desktop Action openAsArchiveRoller]
Name=Abrir como comprimido (File Roller)
Icon=ark
Exec=sh -c 'TMP_LINK="/tmp/${$}_$(basename "$1").zip"; ln -sf "$1" "$TMP_LINK"; file-roller "$TMP_LINK"; rm -f "$TMP_LINK"' _ %f
EOF
