[Desktop Entry]
Name=Blender
Comment=Blender 4.4.3
Exec=/home/arky/Programas/blender-4.4.3-linux-x64/blender
Icon=/home/arky/Programas/blender-4.4.3-linux-x64/blender.svg
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
