[Desktop Entry]
Name=ReStory Playtest
Comment=Play this game on Steam
Exec=steam steam://rungameid/4146670
Icon=steam_icon_4146670
Terminal=false
Type=Application
Categories=Game;
