[Desktop Entry]
Type=Application
Name=Nameless Cat
Exec=waydroid app launch com.kotobagames.namelesscat
Icon=/home/arky/.local/share/waydroid/data/icons/com.kotobagames.namelesscat.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.kotobagames.namelesscat
Icon=/home/arky/.local/share/waydroid/data/icons/com.android.settings.png
