[Desktop Entry]
Type=Application
Name=X-plore
Exec=waydroid app launch com.lonelycatgames.Xplore
Icon=/home/arky/.local/share/waydroid/data/icons/com.lonelycatgames.Xplore.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.lonelycatgames.Xplore
Icon=/home/arky/.local/share/waydroid/data/icons/com.android.settings.png
